
body{
    font-family: 'Courier New', Courier, monospace;
    
}
h1{
    font-weight: 700;
}
.skip{
    color: rgba(240, 66, 13, 0.774);
}
section{
    display: flex;
    width: 95%;
   
}
.half-width{
    padding: 4%;
}
.half-width img{
    width: 150%;
padding-right: 20px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(243, 42, 7),rgb(231, 214, 233));
    color: rgb(5, 22, 179);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}
.banner{
    background-image: url(8.jpg);
    background-repeat: no-repeat;
}
.banner img{
    width: 100%;
    
}
.reci{
    text-align: center;
    padding: 5px 150px 5px 140px;
    
}
h2{
    font-weight: bold;
}
.recipi{
    width: 30%;
    margin: left 5%; ;
    margin-right: 5%%;
    border: 15px solid white;
   border-radius: 20px;
  border: width 20px;
    padding: 20px;
    background-color: rgb(241, 238, 232);
    box-shadow: 20px 20px 40px white;
    border-img
}
.flex{
    display: flex;
}
.image{
    border-radius: 20px;
   
}
.footer{
    text-align: center;
    font: size 400px;
    background-color: rgb(42, 46, 63);
}
h5{
    color: snow;
}