
body{
    font-family: 'Courier New', Courier, monospace;
    }
h1{
    font-weight: 700;
}
.font-color{
    color: rgba(240, 66, 13, 0.774);
}
.flex{
    display: flex;
   }
.half-width{
    padding: 4%;
}
.half-width img{
    width: 180%;
padding-right: 20px;
}
.pic-right{
    padding-right: 20%;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(243, 42, 7),rgb(231, 214, 233));
    color: rgb(5, 22, 179);
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 20px;
}
.banner{
    background-image: url(8.jpg);
    background-repeat: no-repeat;
    width: 100%;
}
.about-left{
    padding-left:15%;
}
.reci{
    text-align: center;
    padding: 5px 150px 5px 140px;
    }
h2{
    font-weight: bold;
}
.recipi{
    width: 33.33%;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 40px grey;
    margin-left: 2%;
    }
img{
    width: 100%;
}
.image{
    border-radius: 20px;
   }
   .social{
    text-align: center;
    padding: 20px;
     }
     .left{
         text-align: left;
         padding: 20px;
     }
     .right{
         text-align: right;
         padding: 20px;
     }
     .border{width: 70%;
        border-radius: 20px;
        padding: 10px 40px 10px 40px;
        box-shadow: 10px 10px 40px grey;
        margin-left: 2%;


     }
.footer{
    text-align: center;
    font: size 400px;
    background-color: rgb(42, 46, 63);
}
h5{
    color: snow;
}